body{
    margin:0%;
    font-family: 'Open Sans Condensed', sans-serif;
}
.flexible{
    display: flex;

}
.half-width{
    width: 50%;
    padding-left: 74px;
    
}
.half-width img{
    width: 100%;
}
.link-botton{
    color: whitesmoke;
    font-weight: 700;
    
    text-decoration: none;
     background-image:linear-gradient(orange,tomato);
    padding: 12px;
    border-radius:3px;

}
  
   

.top-banner{
    background-image: url(images/top-banner.png);
    background-repeat:no-repeat; 
}
.dream-big{
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}
.shadow{
    box-shadow: grey 9px 29px 40px;
    margin-left: 5%;
    padding: 15px;
}
.experiences-area{
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
}

#uncomon-border{
    border-left: 7px solid;
    border-image:linear-gradient(blue,green);
    border-image-slice:1;

    

}
#uncomon-border-02{
    border-left: 7px solid;
    border-image:linear-gradient(blue,pink);
    border-image-slice:1;



}
footer p{
    text-align: center;
}